* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  height: 100vh;
}

.wrapper {
  height: 95vh;
  width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
  display: flex;
  flex-direction: row;
}

/* parte sinistra */

.left-section {
  width: 35%;
  height: 100%;
  background-color: red;
}

/* parte destra */

.right-section {
  width: 65%;
  height: 100%;
  background-color: green;
}

/* background */

.div-background-top {
  height: 14%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #009688;
  z-index: -1;
}

.div-background-bot {
  height: 86%;
  width: 100%;
  position: absolute;
  top: 14%;
  background-color: #DBDBD3;
  z-index: -1;
}
